.user-card {
    padding: 20px;
    background-color: rgb(143, 93, 32);
    color: white;
    display: inline-block;
    margin: 10px;
    border-radius: 6px;
}
.user-card h4 {
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}
.user-card:hover {
    filter: brightness(90%);
    cursor: pointer;
}

.admin-user {
    background-color: rgb(143, 32, 32);
}